<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <div class ="app-container">
    <section>
      <div class="top-box">
        <h1>Dimest</h1>
        <div image-container>
          <img src="https://www.hyperoffice.com/atlas-shell/img/pic2.jpg" alt="Avatar" width="70px" 
          height="70px">
        </div>
        <p>176*****787</p>
        
        
      </div>
      <div class="middle-box">
          <div class="grid-container">
            <div class="grid-item">
              <div class="icon-wrapper w1"><fa-icon [icon]="faCreditCard" style="color:#53DAD5"></fa-icon></div>
            </div> 
            <div class="grid-item">
              <div class="icon-wrapper w2"><fa-icon [icon]="faCalendarAlt" style="color:#7AC1EF"></fa-icon></div>
            </div>
            <div class="grid-item">
              <div class="icon-wrapper w3"><fa-icon [icon]="faRupeeSign" style="color:#7A91EF"></fa-icon></div>
            </div>
            <div class="grid-item">
              <div class="icon-wrapper w4"><fa-icon [icon]="faHeart" style="color:#A279EF"></fa-icon></div>
            </div>
            <div class="grid-item">
              <div class="icon-wrapper w5"><fa-icon [icon]="faFileAlt" style="color:#D996E7"></fa-icon></div>
            </div>
            <div class="grid-item">
              <div class="icon-wrapper w6"><fa-icon [icon]="faCommentDots" style="color:#EF79AD"></fa-icon></div>
            </div>
        </div>
      </div>
      <div class="Balance">
        <p>Balance</p>
      </div>
      <div class="Grid-below">
        <div class="inner-grid">
          <div class="grid-item a">
            <h2>368.17</h2>
            <p>STEEM</p>
          </div>
          <div class="grid-item b">
            <h2>282.34</h2>
            <p>SBO</p>
          </div>
        </div>
        <div class="grid-item c">
          <h2>47.90%</h2>
          <p>Resource credits</p>
          <round-progress class="progress-bar" [current]="47.90" [max]="100" [color]='"#7368FF"' [radius]="15" [stroke]="4"></round-progress>
        </div>
      </div>
      <div class="footer">
        <div class="grid-item">
          <div class="icon-wrapper"><fa-icon class ="f" [icon]="faSquare" style="color:#c0c0c0"></fa-icon></div>
        </div> 
        <div class="grid-item">
          <div class="icon-wrapper"><fa-icon  class ="f" [icon]="faSearch" style="color:#c0c0c0"></fa-icon></div>
        </div>
        <div class="grid-item">
          <div class="icon-wrapper"><fa-icon class="f" [icon]="faAlignCenter" style="color:#c0c0c0"></fa-icon></div>
        </div>
        <div class="grid-item">
          <div class="icon-wrapper"><fa-icon class= "f" [icon]="faChartLine" style="color:#c0c0c0"></fa-icon></div>
        </div>
        <div class="grid-item">
          <div class="icon-wrapper"><fa-icon class= "f" [icon]="faIdBadge" style="color:#7368FF"></fa-icon></div>
        </div>
        <div class="grid-item">
          <div class="icon-wrapper"><fa-icon [icon]="faIdBadge" style="color:#c0c0c0"></fa-icon></div>
        </div>
    </div>
  </section>
  </div>
</body>
